@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@functions {
    public class Nonet
    {
        private int[,] area = {
            {0, 0, 0}, //    1a, 2a, 3a
            {0, 0, 0}, //    1b, 2b, 3b
            {0, 0, 0}  //    1c, 2c, 3c
        };

        public void set_space_value(string space, int value)
        {
            switch (space)
            {
                case "1a":
                    area[0, 0] = value;
                    break;

                case "2a":
                    area[0, 1] = value;
                    break;

                case "3a":
                    area[0, 2] = value;
                    break;

                case "1b":
                    area[1, 0] = value;
                    break;

                case "2b":
                    area[1, 1] = value;
                    break;

                case "3b":
                    area[1, 2] = value;
                    break;

                case "1c":
                    area[2, 0] = value;
                    break;

                case "2c":
                    area[2, 1] = value;
                    break;

                case "3c":
                    area[2, 2] = value;
                    break;
            }
        }

        public int get_space_value(string space)
        {
            int retVal = 0;

            switch (space)
            {
                case "1a":
                    retVal = area[0, 0];
                    break;

                case "2a":
                    retVal = area[0, 1];
                    break;

                case "3a":
                    retVal = area[0, 2];
                    break;

                case "1b":
                    retVal = area[1, 0];
                    break;

                case "2b":
                    retVal = area[1, 1];
                    break;

                case "3b":
                    retVal = area[1, 2];
                    break;

                case "1c":
                    retVal = area[2, 0];
                    break;

                case "2c":
                    retVal = area[2, 1];
                    break;

                case "3c":
                    retVal = area[2, 2];
                    break;
            }

            return retVal;
        }
    }

    public class Board
    {
        private Nonet[,] main = { { null, null, null }, { null, null, null }, { null, null, null } };

        public Board()
        {
            for (int y = 0; y < 3; y++)
            {
                for (int x = 0; x < 3; x++)
                {
                    main[0, 0] = new Nonet();
                }
            }

            Console.WriteLine(main);
        }

        //    1a, 2a, 3a
        //    1b, 2b, 3b
        //    1c, 2c, 3c

        public string get_nonet_value(int space1, int space2)
        {
            Nonet currentNonet = null;

            currentNonet = main[space1 / 3, space2 / 3];

            return "a";
        }
    }
}

@{
    Board board = new Board();

    string Send()
    {
        Console.WriteLine(board);
        return "";
    }

    string main = Send();
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<table id="board">
    <tr id="row1">
        <td>@board.get_nonet_value(8, 7)</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row2">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row3">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row4">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row5">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row6">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row7">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row8">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr id="row9">
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>

</table>

<style>
    table {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 25px;
        padding-left: 25px;
    }
</style>